<!DOCTYPE html>
<html lang="en">
    {% include "base.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #D3D3D3;">
    <h2>About Student Registration System</h2>
    <p>This is a website build for Students Registration in a School. This system enquires some information from students before registering them in the School as it is necessary for the School to take the Student details for their Safety and Records maintaining.</p>
</body>
</html>